.nav {
  .accordion__label {
    justify-content: flex-start;
    padding: 0;

    svg {
      transform: rotate(90deg);
      transition: transform 0.3s;
      margin-left: 0;
    }

    &.is-open {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

.accordion__content {
  display: none;
}

.accordion__label {
  justify-content: space-between;
  padding: 30px;
  font-size: 18px;
  color: $grey;

  svg {
    transform: rotate(0deg);
    margin-top: -1px;
    margin-left: auto;
    color: $orange;
    transition: all 0.3s;
    flex-shrink: 0;
  }

  &.is-open {
    svg {
      transform: rotate(45deg);
    }

    .accordion__icon::before {
      background-color: $blue;
    }
  }

  @media (max-width: $media-tb) {
    padding: 20px;
  }
}

.accordion__item {
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
  border-radius: 12px;
  margin-bottom: 15px;
}

.accordion__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 32px;
    width: 32px;
    background-color: $orange;
    border-radius: 50%;
    transition: all 0.3s;
  }
}

.accordion__inner {
  padding: 0 30px 10px 30px;
}
