.card {
  width: 100%;
  border: none;
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
  background-color: $white;
  border-radius: 20px;
}

.card--advantages {
  margin-top: 3rem;
  padding: 100px 20px 40px 20px;

  img {
    position: absolute;
    top: -35px;
    left: 20px;
  }

  p {
    margin-bottom: 0;
    color: $black;
  }
}

.card--good {
  .card__main {
    display: flex;
  }

  .price {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;

    &__total {
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 2px;
    }
  }

  .card__info {
    .price {
      margin-left: 0;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .card__side {
    display: flex;
    align-items: center;
  }

  .card__img {
    width: 250px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
