.card {
  width: 100%;
  border: none;
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
  background-color: $white;
  border-radius: 20px;
}

.card--advantages {
  margin-top: 3rem;
  padding: 100px 20px 40px 20px;

  img {
    position: absolute;
    top: -35px;
    left: 20px;
  }

  p {
    margin-bottom: 0;
    color: $black;
  }
}
