.colors-block__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $media-td) {
    margin-right: -30px;
  }
}

.colors-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 25px);
  padding: 20px;
  margin-right: 25px;
  margin-bottom: 15px;
  background: $white;
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
  border-radius: 20px;

  img {
    margin-bottom: 10px;
  }

  p {
    font-size: 17px;
    margin-bottom: 0;
    text-align: center;
  }

  &.active {
    color: $white;
    background-color: $orange;
  }

  @media (max-width: $media-md) {
    padding: 17px;

    p {
      font-size: 16px;
    }
  }

  @media (max-width: $media-td) {
    margin-right: 20px;

    p {
      font-size: 14px;
    }
  }

  @media (max-width: $media-tb) {
    width: calc(100% / 6 - 10px);
    padding: 13px;
    margin-right: 10px;
    margin-bottom: 10px;

    p {
      font-size: 14px;
    }
  }

  @media (max-width: 699px) {
    width: calc(100% / 5 - 10px);
  }

  @media (max-width: $media-sm) {
    width: calc(100% / 4 - 10px);

    p {
      font-size: 13px;
    }
  }

  @media (max-width: 424px) {
    width: calc(100% / 3 - 10px);
  }
}

.colors-block .order {
  @media (max-width: $media-tb) {
    order: -1;
  }
}

.colors-block__info {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  width: 520px;
  height: 520px;

  p {
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translate(-50%);
    font-weight: 600;
    font-size: 48px;
    color: $white;
    white-space: pre;
  }

  img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  @media (max-width: $media-md) {
    width: 465px;
    height: 465px;

    p {
      bottom: 80px;
      font-size: 43px;
    }
  }

  @media (max-width: $media-td) {
    width: 400px;
    height: 400px;
  }

  @media (max-width: 880px) {
    width: 350px;
    height: 350px;

    p {
      bottom: 60px;
      font-size: 35px;
    }
  }

  @media (max-width: $media-tb) {
    width: 380px;
    height: 380px;
  }

  @media (max-width: $media-sm) {
    width: 340px;
    height: 340px;

    p {
      font-size: 31px;
      bottom: 45px;
    }
  }

  @media (max-width: 424px) {
    width: 280px;
    height: 280px;
  }
}

.drop-animate__container {
  position: relative;
  width: 33px;
  height: 43px;
  flex-shrink: 0;

  img {
    position: absolute;
  }

  .drop-animate__img {
    top: -6px;
    left: 50%;
    transform: translate(-50%);
    transition: top 0.15s opacity 0.3s;
  }

  @media (max-width: $media-md) {
    width: 30px;
    height: 40px;
  }

  @media (max-width: $media-td) {
    width: 27px;
    height: 37px;
  }

  @media (max-width: $media-tb) {
    width: 25px;
    height: 35px;
  }
}

.drop-animate {
  @media (min-width: $media-tb) {
    &:hover {
      .drop-animate__img {
        animation-name: down;
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
      }
    }
  }

  &.active {
    @media (min-width: $media-tb) {
      &:hover {
        .drop-animate__img {
          animation: none;
        }
      }
    }
  }
}

@keyframes down {
  0% {
    opacity: 1;
    transform: translateY(0px) translateX(-50%) scale(1);
  }

  60% {
    opacity: 0;
    transform: translateY(10px) translateX(-50%) scale(.9);
  }

  65% {
    transform: translateY(-4px) translateX(-50%) scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px) translateX(-50%) scale(1);
  }
  }

