.delivery {
  &__img {
    position: relative;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    z-index: 1;


    @media (max-width: $media-md) {
      width: 465px;
      height: 465px;
    }

    @media (max-width: $media-td) {
      width: 350px;
      height: 350px;
    }

    @media (max-width: $media-tb) {
      width: 300px;
      height: 300px;
    }

    @media (max-width: $media-sm) {
      width: 280px;
      height: 280px;
    }
  }

  @media (max-width: $media-md) {
    .fs-18 {
      font-size: 16px !important;
    }

    .icon {
      width: 65px;
    }
  }

  @media (max-width: $media-td) {
    .fs-20 {
      font-size: 18px !important;
    }

    .icon {
      width: 75px;
    }
  }

  @media (max-width: $media-tb) {
    .icon {
      width: 70px;
    }
  }
}

