.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 0 0.8rem;
  background-color: $white;
  z-index: 8;
  transition: all 0.2s;
}

.header__top {
  transition: all 0.2s;
  justify-content: space-between;
  margin-bottom: 2rem;

  @media (max-width: $media-td) {
    margin-bottom: 0;
  }
}

.header .nav {
  li {
    margin-right: 3rem;
  }

  a {
    display: block;
    font-size: 20px;
    padding-bottom: 0.5rem;

    @media (max-width: $media-md) {
      font-size: 18px;
    }
  }
}

.basket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  color: $white;
  width: 50px;
  height: 50px;
  border-radius: 50%;


  @media (min-width: $media-tb) {
    &:hover {
      background-color: $orange-2;
    }
  }

  @media (max-width: $media-tb) {
    width: 45px;
    height: 45px;
  }
}

.goods-number {
  position: absolute;
  right: -7px;
  top: -5px;
  background-color: $blue;
  color: $white;
  font-size: 12px;
  border-radius: 50px;
  padding: 3px 6px;

  @media (max-width: $media-td) {
    font-size: 11px;
    top: 4px;
  }
}

.tel {
  font-size: 24px;
  font-weight: 700;

  @media (max-width: $media-td) {
    font-size: 22px;
  }
}

.header.scroll {
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);

  .header__top {
    margin-bottom: 0.3rem;
  }

  .logo img {
    height: 55px;
  }

  .basket {
    width: 45px;
    height: 45px;
  }

  .tel {
    font-size: 21px;
  }

  .btn--border {
    padding: 8px 25px;
  }
}

.logo {
  @media (max-width: $media-td) {
    width: 200px;
    margin-right: auto !important;
  }

  @media (max-width: $media-tb) {
    width: 150px;
  }
}

.burger {
  @include reset-button;

  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 32px;
  padding: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0 !important;
  transition: 0.3s;
  z-index: 35;
  border-radius: 0;
  overflow: hidden;


  .burger__span {
    display: block;
    width: 32px;
    height: 2px;
    background-color: $black;
    transition: 0.45s;
    border-radius: 3px;
    margin-bottom: 8px;
  }

  @media (min-width: $media-tb) {
    &:hover {
      .burger__span {
        background-color: $orange;
      }
    }
  }

  &.is-show {
    height: 32px;

    .burger__span {
      background-color: $black;
    }

    .burger__span--1 {
      transform: translateY(13px) rotate(45deg);
    }

    .burger__span--2 {
      transform: translateX(-34px);
    }

    .burger__span--3 {
      transform: translateY(-14px) rotate(-45deg);
    }

  @media not all and (min-resolution:.001dpcm)
  { @supports (-webkit-appearance:none) {

    .burger__span--1 {
      transform: translateY(10px) rotate(45deg);
    }

    .burger__span--3 {
      transform: translateY(-9px) rotate(-45deg);
    }
  }}

  }
}
