.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 3rem 0 2rem;
  background-color: $white;
  z-index: 8;
  transition: all 0.2s;

  @media (max-width: $media-td) {
    padding: 1.6rem 0 1rem;
  }

  @media (max-width: $media-tb) {
    padding: 1rem 0 1rem;
  }
}
