.promo {
  min-height: 500px;
  border-radius: 15px 15px 0 0;
  background: $orange-2 url("../img/promo.jpg") 100% 50% no-repeat;
  background-size: contain;

  .lg {
    font-size: 90px;
  }

  .btn__content {
    padding: 19px 55px;
  }
}

.animated-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -85px;
  top: 40px;
  width: 175px;
  height: 175px;

  img {
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}
