@keyframes rotation {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}

.promo {
  display: flex;
  min-height: 560px;
  border-radius: 15px 15px 0 0;
  background: $orange-2 url("../img/promo.jpg") 100% 50% no-repeat;
  background-size: contain;

  .lg {
    @include font-size(90px);
  }

  .btn__content {
    padding: 19px 55px;
  }

  @media (max-width: $media-td) {
    background-size: cover;

    .btn__content {
      padding: 16px 45px;
    }
  }
}

.animated-item {
  position: absolute;
  right: -85px;
  top: 40px;
  width: 175px;
  height: 175px;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    animation-name: rotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media (max-width: 1399px) {
    right: -50px;
    width: 160px;
    height: 160px;
  }

  @media (max-width: 1299px) {
    right: 0;
    width: 150px;
    height: 150px;
  }

  @media (max-width: $media-md) {
    right: 15px;
    width: 130px;
    height: 130px;
  }

  @media (max-width: $media-tb) {
    width: 110px;
    height: 110px;
  }

  @media (max-width: $media-sm) {
    display: none;
  }

}

.promo__col {
  border-radius: 15px 0 0 0;

  &--orange {
    position: relative;
    background-color: $orange-2;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 560px solid $orange-2;
      border-right: 250px solid transparent;
      right: -249px;
      top: 0;
    }

    p {
      max-width: 400px;
    }

    @media (max-width: $media-md) {
      &::before {
        border-right: 180px solid transparent;
        right: -180px;
      }
    }

    @media (max-width: $media-tb) {
      border-radius: 15px 15px 0 0;

      &::before {
        border-top: 75px solid $orange-2;
        border-right: 1000px solid transparent;
        right: 0;
        top: auto;
        bottom: -74px;
      }
    }
  }
}

.promo__img {
  position: absolute;
  left: 57%;
  bottom: 5px;
  transform: translate(-50%);
  width: 465px;
  height: 390px;

  .promo__good {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 390px;
    z-index: 1;
    opacity: 0;

    &--sm {
      width: 225px;
      height: 230px;
      left: auto;
      right: -23px;
      z-index: 2;
      transform: translateY(15%);
      transition: opacity 0.2s, transform 0.3s;
      transition-delay: 0.3s;
    }

    &--lg {
      transform: translateY(-50%);
      transition: opacity 0.2s, transform 0.3s;
    }

    &.show {
      opacity: 1;
      transform: translate(0);
    }

    @media (max-width: $media-md) {
      width: 300px;
      height: 340px;
      left: 25px;

      &--sm {
        width: 200px;
        height: 205px;
        right: 9px;
        left: auto;
      }
    }

    @media (max-width: $media-td) {
      width: 290px;
      height: 330px;
      left: 120px;

      &--sm {
        width: 190px;
        height: 195px;
        right: -72px;
        left: auto;
      }
    }

    @media (max-width: $media-tb) {
      width: 230px;
      height: 270px;
      left: 120px;

      &--sm {
        width: 175px;
        height: 190px;
        right: -5px;
        left: auto;
      }
    }

    @media (max-width: $media-sm) {
      width: 200px;
      height: 240px;
      left: 58px;

      &--sm {
        width: 155px;
        height: 170px;
        right: 100px;
        left: auto;
      }
    }
  }
}

.promo .fs-20 {
  @media (max-width: $media-tb) {
    font-size: 18px;
  }
}
