.swiper-container {
  user-select: none;
}

.sertificates-slider {
  margin-bottom: 90px;

  @media (max-width: 1300px) {
    margin-bottom: 80px;
  }

  a {
    outline: none;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: rgba(#ECF1F7, 0.7);
  color: $orange;
  transition: all 0.3s;

  svg {
    transition: transform 0.3s;
  }
}

@media (min-width: $media-tb) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #EF4B22;
    color: #ffffff;
  }

  .swiper-button-next:hover svg {
    transform: rotate(180deg) translateX(-2px);
  }

  .swiper-button-prev:hover svg {
    transform: translateX(-2px);
  }
}

.swiper-button-next svg {
  transform: rotate(180deg);
}

.sertificates-slider .swiper-button-next,
.sertificates-slider .swiper-button-prev {
  box-shadow: 0 3px 15px rgba(#5E5E5E, 0.3);
  opacity: 0;
}

.sertificates-slider .swiper-button-next {
  transform: translate(100%);
}

.sertificates-slider .swiper-button-prev {
  transform: translate(-100%);
}

@media (max-width: 1199px) {
  .sertificates-slider .swiper-button-prev,
  .sertificates-slider .swiper-button-next {
    transform: translate(0);
    opacity: 1;
  }
}

.sertificates-slider:hover .swiper-button-next,
.sertificates-slider:hover .swiper-button-prev {
  opacity: 1;
  transform: translate(0);
}

.photos-slider .swiper-slide {
  height: 100vh;

  @media (max-width: $media-tb) {
    height: 300px;
  }
}

.sertificates-slider {
  overflow-x: hidden;

  .swiper-slide {
    padding-top: 10px;
  }

  .swiper-slide a {
    display: block;

    @media (min-width: $media-tb) {
      &:hover {
        transform: translateY(-6px);
      }
    }
  }
}
