.swiper-container {
  user-select: none;
}

.sertificates-slider {
  margin-bottom: 90px;

  @media (max-width: 1300px) {
    margin-bottom: 80px;
  }

  a {
    outline: none;
  }
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $orange;
  color: $white;
  transition: all 0.3s;
  box-shadow: 0 3px 15px rgba(#5E5E5E, 0.3);

  svg {
    transition: transform 0.3s;
  }
}

@media (min-width: $media-tb) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: $orange-2;
    color: $white;
  }

  .swiper-button-next:hover svg {
    transform: rotate(180deg) translateX(-3px);
  }

  .swiper-button-prev:hover svg {
    transform: translateX(-3px);
  }
}

.swiper-button-prev svg {
  transform: translateX(-1px);
}

.swiper-button-next svg {
  transform: rotate(180deg) translateX(-2px);
}

.sertificates-slider,
.reviews-slider {
  padding: 90px 0 90px;

  .swiper-button-next {
    right: 28%;
  }

  .swiper-button-prev {
    left: 28%;
  }
}

.reviews-slider {
  padding: 120px 0 120px;
}

.sertificates-slider .swiper-slide,
.reviews-slider .swiper-slide {
  transition: transform .3s ease;
}

.sertificates-slider .swiper-slide {
  &.swiper-slide-active {
    transform: scale(1.35, 1.38);
  }

  a {
    display: block;

    @media (min-width: $media-tb) {
      &:hover {
        transform: translateY(-6px);
      }
    }
  }
}

.reviews-slider .swiper-slide {
  &.swiper-slide-active {
    transform: scale(1.2, 1.2);

    .card {
      box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
      border-radius: 12px;
    }
  }
}


.advantages-slider {
  width: 545px;
  height: 545px;
  border-radius: 50%;
  background-color: $orange-2;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 380px;
      max-height: 410px;
    }
  }

  .swiper-button-prev {
    left: 30px;
    right: auto;
  }

  .swiper-button-next {
    left: auto;
    right: 30px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: $orange-2;
    box-shadow: none;
  }

  @media (min-width: $media-tb) {
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      background-color: $orange;
      color: $white;
      box-shadow: 0 3px 15px rgba(#5E5E5E, 0.3);
    }

    .swiper-button-next:hover svg {
      transform: rotate(180deg) translateX(-3px);
    }

    .swiper-button-prev:hover svg {
      transform: translateX(-3px);
    }
  }
}
