extends layouts/layout
include components/header
include components/footer
//- include components/modal
//- include components/menu

block title
  | Главная страница

block header
  +header()

block main
  main
    .mb-100.promo
      .container
        .row.h-100
          .col-md-6.pt-5.pb-5.promo__col.promo__col--orange
            h1.fw-700.color-white.mb-4
              span.lg Герметик
              span «Тёплый шов»
            p.fw-600.fs-20.color-white.mb-5 Профессиональная теплоизоляция домов из бруса и оцилиндрованного бревна
            a.btn.js-ripple.btn--orange(href="#")
              .btn__content Заказать от 227₽

          .col-md-6

        .promo__img
          img.promo__good(src="/img/promo-2.png", alt="")
          img.promo__good.promo__good--sm(src="/img/promo-2.png", alt="")

        .animated-item
          img(src='/img/animated-string.png' alt='')

    .mb-100
      .container
        h2.fw-700.mb-5 Преимущества нашего герметика

        .row
          .col-md-7.col-lg-6.d-flex
            .row
              .col-6.d-flex.mb-3
                .card.card--advantages
                  img(src="/img/icons/earth.svg", alt="icon" width="100" height="100")
                  p.color-black Он экологичен, не принесет вреда ни деревянным зданиям, ни их жильцам

              .col-6.d-flex.mb-3
                .card.card--advantages
                  img(src="/img/icons/sunny.svg", alt="icon" width="100" height="100")
                  p.color-black Не изменяет внешнего вида или своих свойств под влиянием ультрафиолетовых лучей


              .col-6.d-flex.mb-3
                .card.card--advantages
                  img(src="/img/icons/rain.svg", alt="icon" width="100" height="100")
                  p.color-black Устойчив к влаге, снегу, дождю, солнечным лучам и другим внешним факторам

              .col-6.d-flex.mb-3
                .card.card--advantages
                  img(src="/img/icons/house.svg", alt="icon" width="100" height="100")
                  p.color-black Не боится движения древесины, способен изменять свои размеры и не разрываться при этом


          .col-md-5.col-lg-6.d-flex.align-items-center
            .ellipse
              .swiper-container.js-advantages-slider.advantages-slider
                ul.list.swiper-wrapper
                  li.swiper-slide
                    img(src="/img/good-1.png", alt="")

                  li.swiper-slide
                    img(src="/img/good-1.png", alt="")

                  li.swiper-slide
                    img(src="/img/good-1.png", alt="")

                .swiper-button-prev
                  svg(width="15" height="25")
                    use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")
                .swiper-button-next
                  svg(width="15" height="25")
                    use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")

              .ellipse__item
              .ellipse__item.ellipse__item--2

    .mb-100
      .container
        h2.fw-700.mb-5 Давайте сравним

      .bg-wood.pt-5.pb-5
        .container
          .table
            p gdfdf

    .mb-100
      .container
        .row
          .col-md-6.col-lg-7.d-flex.flex-column.justify-content-center
            h2.fw-700.mb-5 Почему выбирают герметик «Тёплый шов»
            p.fs-20 Герметик “тёплый шов” обновляют раз в 30 лет. При правильном использовании он гарантирует отстуствие теплопотерь через межвенцовые стыки.
            p.fs-20.mb-5 Герметик отлично переносит неизбежные подвижки сруба. Улучшает внешний вид дома, делает его аккуратным и современным.
            .d-flex.align-items-center
              img.mr-2(src="/img/icons/medal.svg", alt="")
              span Наш герметик дает 100%<br> гермитизации


          .col-md-6.col-lg-5.d-flex
            a.link.d-block.w-100(data-fancybox="photo" href="img/photo-1.jpg")
              .bg.h-500.border-radius(style="background-image: url(../img/photo-1.jpg);")

    .mb-100
      .container
        h2.fw-700.mb-5.text-center Так герметик выглядит на стенах

    .mb-100.colors-block
      .container
        .row
          .col-md-6.d-flex.flex-column
            h2.fw-700.mb-5 Подбор цвета

            .colors-block__list
              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-1.png", alt="")
                p Белый

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-2.png", alt="")
                p Бук

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-3.png", alt="")
                p Лиственница

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-4.png", alt="")
                p Золотая сосна

              a.link.colors-block__item.active(href="#")
                img(src="/img/icons/color-5.png", alt="")
                p Орех

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-6.png", alt="")
                p Орегон

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-7.png", alt="")
                p Сосна

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-8.png", alt="")
                p Медовый

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-9.png", alt="")
                p Палисандр

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-10.png", alt="")
                p Дуб

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-11.png", alt="")
                p Тик

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-12.png", alt="")
                p Венге

              a.link.colors-block__item(href="#")
                img(src="/img/icons/color-13.png", alt="")
                p Серый

          .col-md-6.d-flex.align-items-center
            .ellipse
              .colors-block__img
                img(src="/img/photo-6.jpg", alt="")
                p Орех

              .ellipse__item
              .ellipse__item.ellipse__item--2


    .mb-100
      .bg-wood.pt-5.pb-5
        .container
          .row
            .col-sm-6.col-md-4.d-flex.mb-3
              .card.card--advantages
                img(src="/img/icons/clock.svg", alt="icon" width="120" height="120")
                p.fw-700.fs-20.mb-2.color-orange Один раз сделал и забыл
                p.fs-18.fw-600.text-muted Наш герметик прослужит в два раза дольше обычного, и в 20 раз дольше конопатки.

            .col-sm-6.col-md-4.d-flex.mb-3
              .card.card--advantages
                img(src="/img/icons/temp.svg", alt="icon" width="120" height="120")
                p.fw-700.fs-20.mb-2.color-orange Для самых сложных условий
                p.fs-18.fw-600.text-muted Сохраняет свойства при температуре от +80 до -60.


            .col-sm-6.col-md-4.d-flex.mb-3
              .card.card--advantages
                img(src="/img/icons/snap.svg", alt="icon" width="120" height="120")
                p.fw-700.fs-20.mb-2.color-orange Не требует спецподготовки
                p.fs-18.fw-600.text-muted Прекрасно наносится даже на влажную поверхность. Наносится и в межсезонье до -10C.


    .mb-100
      .container
        h2.fw-700.mb-5.text-center Что говорят люди

        .swiper-container.js-reviews-slider.reviews-slider
          ul.list.swiper-wrapper
            li.swiper-slide
              .card.card--review
                .card__side.bg.mb-4(style="background-image: url(../img/review-1.jpg);")

                .card__main
                  p.mb-1.name Ольга Викторовна
                  p.mb-2.subtitle Алтайский край
                  p Я покупала герметик в это магазине, чтобы утеплить свой загородный дом. Сделали заказа и нам перезвонила девушка, которая помогла точно определить колличество, которое будет расходовано. Мы остались довольны качеством самого герметика. Наносится он очень просто. Наносили герметик шпателем и использовали жгут для утепления швов, по технологии тёплый шов.

            li.swiper-slide
              .card.card--review
                .card__side.bg.mb-4(style="background-image: url(../img/review-2.jpg);")

                .card__main
                  p.mb-1.name Григорий
                  p.mb-2.subtitle Алтайский край
                  p Мы покупали герметик в 2015 году на одну постройку и в 2016 году на другую. Обе постройки на даче большие - гостевой дом и баня. Герметик имеет огромный опыт в утеплении и мы для себя его переняли. Наносили все сами с местными ребятами по видео инструкциям с ютуба.

            li.swiper-slide
              .card.card--review
                .card__side.bg.mb-4(style="background-image: url(../img/review-3.jpg);")

                .card__main
                  p.mb-1.name Александр Иванов
                  p.mb-2.subtitle Алтайский край
                  p Заказывали несколько ведер для утепления бани! Очень довольны сервисом и качеством герметика, Консультант рассказала все, помогла подобрать цвет. Рекомендую этот магазин!

          .swiper-button-prev
            svg(width="10" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")
          .swiper-button-next
            svg(width="10" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")


    .mb-100.delivery
      .container
        .row
          .col-lg-6.d-flex.align-items-center
            .ellipse
              .delivery__img.bg(style="background-image: url(../img/photo-5.jpg);")

              .ellipse__item
              .ellipse__item.ellipse__item--2

          .col-lg-6.d-flex.flex-column.justify-content-center.pl-lg-5
            h2.fw-700.mb-4 Доставим в ваш город
            p.fs-20 Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией.


    .mb-100
      .container
        h2.fw-700.mb-5 Фасовки и цены

      .bg-wood.pt-5.pb-5
        .container
          .row
            .col-md-6.mb-4.d-flex
              .card.card--good.p-4
                .card__main.mb-4
                  .card__img(style="background-image: url(../img/good-4.png);")

                  .card__info
                    .d-flex.align-items-end.mb-4
                      span.fs-24.mr-3.lh-1.fw-600 Картридж
                      span 0,31 л

                    .d-flex.align-items-end.mb-4
                      .price.mr-3
                        span.mr-1 226
                        span ₽
                      span.text-muted.fs-12.fw-600 990 руб\л

                    .d-flex.quantity.js-quantity.align-items-center.mb-3
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-1" id="quantity-input-1")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus-2")

                    p.text-muted.fs-14 Цвет герметика указывается при оформлении заказа

                .card__side
                  a.btn.js-ripple.btn--orange.mr-3(href="#")
                    .btn__content Добавить к заказу

                  .price
                    span.price__total.mr-2 Итого
                    span.mr-1 452
                    span ₽


            .col-md-6.mb-4.d-flex
              .card.card--good.p-4
                .card__main.mb-4
                  .card__img(style="background-image: url(../img/good-2.png);")

                  .card__info
                    .d-flex.align-items-end.mb-4
                      span.fs-24.mr-3.lh-1.fw-600 Фолиевая туба
                      span 0,5 л

                    .d-flex.align-items-end.mb-4
                      .price.mr-3
                        span.mr-1 226
                        span ₽
                      span.text-muted.fs-12.fw-600 990 руб\л

                    .d-flex.quantity.js-quantity.align-items-center.mb-3
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-2" id="quantity-input-2")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus-2")

                    p.text-muted.fs-14 Цвет герметика указывается при оформлении заказа

                .card__side
                  a.btn.js-ripple.btn--orange.mr-3(href="#")
                    .btn__content Добавить к заказу

                  .price
                    span.price__total.mr-2 Итого
                    span.mr-1 452
                    span ₽


            .col-md-6.mb-4.d-flex
              .card.card--good.p-4
                .card__main.mb-4
                  .card__img(style="background-image: url(../img/good-3.png);")

                  .card__info
                    .d-flex.align-items-end.mb-4
                      span.fs-24.mr-3.lh-1.fw-600 Ведро
                      span 5 л

                    .d-flex.align-items-end.mb-4
                      .price.mr-3
                        span.mr-1 226
                        span ₽
                      span.text-muted.fs-12.fw-600 990 руб\л

                    .d-flex.quantity.js-quantity.align-items-center.mb-3
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-3" id="quantity-input-3")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus-2")

                    p.text-muted.fs-14 Цвет герметика указывается при оформлении заказа

                .card__side
                  a.btn.js-ripple.btn--orange.mr-3(href="#")
                    .btn__content Добавить к заказу

                  .price
                    span.price__total.mr-2 Итого
                    span.mr-1 452
                    span ₽


            .col-md-6.mb-4.d-flex
              .card.card--good.p-4
                .card__main.mb-4
                  .card__img(style="background-image: url(../img/good-3.png);")

                  .card__info
                    .d-flex.align-items-end.mb-4
                      span.fs-24.mr-3.lh-1.fw-600 Ведро
                      span 10 л

                    .d-flex.align-items-end.mb-4
                      .price.mr-3
                        span.mr-1 226
                        span ₽
                      span.text-muted.fs-12.fw-600 990 руб\л

                    .d-flex.quantity.js-quantity.align-items-center.mb-3
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-4" id="quantity-input-4")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus-2")

                    p.text-muted.fs-14 Цвет герметика указывается при оформлении заказа

                .card__side
                  a.btn.js-ripple.btn--orange.mr-3(href="#")
                    .btn__content Добавить к заказу

                  .price
                    span.price__total.mr-2 Итого
                    span.mr-1 452
                    span ₽




    .mb-100
      .container
        h2.fw-700.mb-2 Калькулятор расхода герметика
        p.fs-20.fw-600.subtitle.mb-0 Рассчитайте расход герметика в три постых шага

        .row
          .col-lg-6.pt-5
            p.fs-24.fw-600 Введите метраж под герметизацию

          .col-lg-6
            .bg.h-500.border-radius(style="background-image: url(../img/photo-4.jpg);")

    .mb-100
      .container
        h2.fw-700.mb-5 Часто задаваемые вопросы

        .row
          .col-lg-9
            .accordion
              .accordion__item
                a.accordion__label.link.link--white.d-flex.align-items-center(href="#")
                  span.pr-4 Технические характеристики герметика
                  .accordion__icon
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite/sprite.svg#icon-plus")

                .accordion__content
                  .accordion__inner
                    p Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией.

              .accordion__item
                a.accordion__label.link.link--white.d-flex.align-items-center(href="#")
                  span.pr-4 Полная инструкция по преминению
                  .accordion__icon
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite/sprite.svg#icon-plus")

                .accordion__content
                  .accordion__inner
                    p Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией. Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией.

              .accordion__item
                a.accordion__label.link.link--white.d-flex.align-items-center(href="#")
                  span.pr-4 Прогнозируемый расход
                  .accordion__icon
                    svg(width="16" height="16")
                      use(xlink:href="img/sprite/sprite.svg#icon-plus")

                .accordion__content
                  .accordion__inner
                    p Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией. Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией. Доставляем по всей России и странам СНГ. Отправляем выбранной вами транспортной компанией.


    .mb-100
      .container
        h2.fw-700.mb-5.text-center Сертификаты

        .swiper-container.js-sertificates-slider.sertificates-slider
          ul.list.swiper-wrapper
            li.swiper-slide
              a.link(data-fancybox="gallery" href="img/sert-1.jpg")
                .bg.bg--contain.h-350(style="background-image: url(../img/sert-1.jpg);")

            li.swiper-slide
              a.link(data-fancybox="gallery" href="img/sert-2.jpg")
                .bg.bg--contain.h-350(style="background-image: url(../img/sert-2.jpg);")

            li.swiper-slide
              a.link(data-fancybox="gallery" href="img/sert-1.jpg")
                .bg.bg--contain.h-350(style="background-image: url(../img/sert-1.jpg);")

            li.swiper-slide
              a.link(data-fancybox="gallery" href="img/sert-2.jpg")
                .bg.bg--contain.h-350(style="background-image: url(../img/sert-2.jpg);")

            li.swiper-slide
              a.link(data-fancybox="gallery" href="img/sert-1.jpg")
                .bg.bg--contain.h-350(style="background-image: url(../img/sert-1.jpg);")

          .swiper-button-prev
            svg(width="10" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")
          .swiper-button-next
            svg(width="10" height="18")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")





block footer
  +footer()

  .shade Ваши данные отправлены

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="18" height="22")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow-small")

block modal
  //- +modal()
  //- +menu()

