mixin footer(data)
  footer.footer(class!=attributes.class)
    .container
      a.link(href="#")
        span.fs-14 Политика обработки персональных данных
        
      a.link.fs-14.fw-500(href="https://www.e1media.ru/" target="_blank") Разработка сайта — Е1медиа

