mixin header(data)
  header.header(class!=attributes.class)
    .container
      .header__top.d-flex.align-items-center
        a.link.logo.d-block.mr-3(href="#")
          img(src="/img/logo.svg", alt="Логотип ГК Партия" width="279" height="100")

        .socials.d-none.d-lg-flex.mr-3
          a.link.link--orange.d-block(href="#")
            svg.mr-4(width='35' height='35')
              use(xlink:href="img/sprite/sprite.svg#icon-insta")

          a.link.link--orange.d-block(href="#")
            svg(width='35' height='35')
              use(xlink:href="img/sprite/sprite.svg#icon-wp")

        a.link.link--black.d-flex.align-items-center.tel.mr-3(href="tel:+78009966633")
          svg.mr-2(width='21' height='21')
            use(xlink:href="img/sprite/sprite.svg#icon-tel")
          span 8-800-996-66-33

        a.btn.btn--border.d-none.d-lg-block(href="#") Заказать в 1 клик

        a.link.ml-auto.mb-2.basket.d-lg-none.mr-3(href="#" js-popup-open="js-popup-open" data-src="#modal-basket")
          svg(width='23' height='23')
            use(xlink:href="img/sprite/sprite.svg#icon-basket")
          .goods-number 0

        button.burger.js-open-menu.d-lg-none(type="button" aria-label="Меню")
          span.burger__span.burger__span--1
          span.burger__span.burger__span--2
          span.burger__span.burger__span--3.mb-0

      .header__bottom.d-none.d-lg-flex.align-items-center
        nav.nav
          ul.list.d-flex.flex-wrap
            li
              a.link.link--grey.js-ankor(href="#advantages" data-href="#advantages") Преимущества
            li
              a.link.link--grey.js-ankor(href="#examples" data-href="#examples") Примеры применения
            li
              a.link.link--grey.js-ankor(href="#prices" data-href="#prices") Фасовки и цены
            li
              a.link.link--grey.js-ankor(href="#colors" data-href="#colors") Цвета
            li
              a.link.link--grey.js-ankor(href="#reviews" data-href="#reviews") Отзывы
            li
              a.link.link--grey.js-ankor(href="#delivery" data-href="#delivery") Доставка

        a.link.ml-auto.mb-2.basket(href="#" js-popup-open="js-popup-open" data-src="#modal-basket")
          svg(width='23' height='23')
            use(xlink:href="img/sprite/sprite.svg#icon-basket")
          .goods-number 0
