mixin menu(data)
  .menu(class!=attributes.class)
    .container
      nav.mb-3.nav
        ul.list.d-flex.flex-column.w-100
          li.mb-3
            a.link.link--grey.d-block.fs-24(href="#") О компании

      a.btn.btn--border(href="#") Заказать в 1 клик
