.fieldset {
  display: flex;
  align-items: center;

  input,
  textarea {
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 12px 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    outline: none;
    transition: all 0.3s;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    color: $grey;
    border: 1px solid $white;

    @media (max-width: $media-md) {
      font-size: 16px;
    }

    &:focus {
      background-color: $white;
    }
  }

  textarea {
    resize: none;
  }
}

.fieldset__label {
  display: inline-block;
  margin-bottom: 0;
  font-size: 18px;
  color: $white;
  font-weight: 600;
  transition: all 0.5s;
  width: 107px;
  flex-shrink: 0;
}
