.fieldset {
  display: flex;
  align-items: center;

  input,
  textarea {
    position: relative;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 12px 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    outline: none !important;
    transition: all 0.3s;
    box-shadow: none;
    border-radius: 5px;
    border: none;
    color: $grey;
    border: 1px solid $white;

    @media (max-width: $media-md) {
      font-size: 16px;
    }

    &:focus {
      background-color: $white;
    }

    &.has-value {
      background-color: $white;
    }
  }

  textarea {
    resize: none;
  }
}

.fieldset__label {
  display: inline-block;
  margin-bottom: 0;
  font-size: 18px;
  color: $white;
  font-weight: 600;
  transition: all 0.5s;
  width: 107px;
  flex-shrink: 0;
}

.radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  input {
    @include visually-hidden;
  }

  input:checked + .radio__button {
    border-color: $orange;

    &::before {
      opacity: 1;
    }
  }

  @media (min-width: $media-tb) {
    &:hover .radio__button {
      border-color: $orange;
    }
  }
}

.radio__button {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid rgba(67, 66, 66, 0.3);
  flex-shrink: 0;
  margin-right: 0.8rem;
  transition: all 0.3s;

  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 15px;
    height: 15px;
    background-color: $orange;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
  }
}
