.link {
  transition: all 0.3s;
}

.link--black {
  color: $black;

  &:active {
    color: $orange-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $orange-2;
    }
  }
}

.link--grey {
  color: $grey;

  &:active {
    color: $blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue;
    }
  }
}

.link--orange {
  color: $orange;

  &:active {
    color: $blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue;
    }
  }
}

.link--white {
  color: $white;

  &:active {
    color: $blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue;
    }
  }
}

.link--underlined {
  span {
    border-bottom: 1px solid;
  }
}
