//переменные цветов
$black: #000000;
$white: #ffffff;
$grey: #424242;
$orange: #FF6915;
$orange-2: #F99F4D;
$blue: #6674C9;

//переменные шрифтов
$font: "Nunito", "Arial", sans-serif;

//переменные для перестроения
$media-lg: 1439px;
$media-md: 1199px;
$media-dt: 1023px;
$media-td: 991px;
$media-tb: 767px;
$media-sm: 575px;
$media-m: 320px;
