//переменные цветов
$black: #000000;
$white: #ffffff;
$red: #F23D42;
$grey: #424242;
$blue: #252345;
$purple: #252440;
$light-grey: #F8F8F8;
$light-blue: #4D78EB;

//переменные шрифтов
$font: "Montserrat", "Arial", sans-serif;

//переменные для перестроения
$media-lg: 1439px;
$media-md: 1199px;
$media-dt: 1023px;
$media-td: 991px;
$media-tb: 767px;
$media-sm: 575px;
$media-m: 320px;
